.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;

    .heading {
      color: gray;
    }
  }

  .body {
    flex: 1 1 auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .tableHeader {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 20px;
    }
  }
}
